body{
font-family: 'JetBrains Mono', sans-serif;
margin: 0;
padding: 0;
  background: url(./assets/background.jpg) no-repeat center/cover;
}


#container {
    display: flex;
    margin: 250px auto;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 30px;
    width: 450px;
    height: 450px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

#profile{
    display: flex;
    height: 150px;
    width: 150px;
    margin: 0px auto;
    margin-top: -70px;
}

#email {
    padding: 50px 0px 25px;
}

#password {
    padding: 10px 0px 50px;
}

#submit {
    padding: 50px;
}


input[type=email] {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 600;

    display: block;

    border: none;
    border-radius: 10px;

    width: 300px;
    height: 50px;
    
}
.email{
    color: white;
}

input[type=password] {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 600;

    display: block;

    border: none;
    border-radius: 10px;

    width: 300px;
    height: 50px;
}

input[type=submit] {
    display: block;

    border-radius: 10px;
    border: none;

    width: 200px;
    height: 30px;

    margin: 0px auto;
}

a{
    display: block;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 14px;
    margin: 0px 8px;
    margin-top: -45px;
    
}




::placeholder {
    font-weight: 400;
    color: black;
    padding: 15px;
    
}