body{
font-family: 'JetBrains Mono';
margin: 0;
padding: 0;
background: linear-gradient(to bottom, #180085, #155094);
height: 100vh;

background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#container {
    display: flex;
    margin: 250px auto;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.39);
    border-radius: 10px;
    width: 450px;
    height: 450px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
}

#profile{
    display: flex;
    height: 100px;
    width: 100px;
    margin: 0px auto;
}
input[type=email] {
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

input[type=password] {
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 30px;
}

a{
    text-align: center;
    display: flex;
    color: rgb(0, 0, 0);
}


input {
    display: flex;
    margin: 0px auto;
}

::placeholder{
    color: rgb(0, 0, 0);
}
